body {
    display: flex; 
    height: 100vh;
    flex-direction: column;
    align-items: center; 
    /* cross-axis - horizontal */
    justify-content: center;
    /* main-axis - vertical */
    background-color: #b8c0ff;
    font-family: 'Roboto', sans-serif; 
}


.password-input {
    background-color: white; 
    width: 25%; 
    padding: 10px;
    margin-bottom: 20px; 
    border-radius: 10px; 
    border: 1px solid #e7c6ff;
    display:flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    color: #b8c0ff; 
}

.password-input__text-area {
    width: 50%; 
    border: 1px solid #b8c0ff;
    border-radius: 10px; 
}


.strength-check-container {
    background-color: white; 
    /* width: 25%;  */
    padding: 10px;
    border-radius: 10px; 
    align-items: center; 

       
}

progress {
    border: none; 
    border-radius: 8px; 
    height: 18px; 
    -webkit-appearance: none; 
    /* is like a default style across all browsers - resets back to a base  */
}


progress[value]{
    height: 10px;
    width: 250px; 
}

progress[value]::-webkit-progress-bar{
    background-color: #ffc8dd; 
    border-radius: 4px; 
}


progress[value]::-webkit-progress-value{
    background-color: #bde0fe;
    border-radius: 4px; 
}

